<template name="App_body">
  {{> Template.dynamic template=main}}

  <header id="top">
        <a href = "#" class = "email-button"> Login </a>
        <a href = "#" class = "email-button"> Subscribe </a>
        <div class="ryan">
            <img class="avatar" src="img/avatar.jpg" alt="Maura" />
            <h2>Maura Rigney<span>Graphic Design, Marketing, Advertising</span></h2>
            <div class="social">
                <a class="linkedin" href="http://linkedin.com/in/maurarigney" data-username="10998304">LinkedIn</a>
                <a class="github" href="http://github.com/nickmflorin">Github</a>
                <a class="email" href="mailto:test.com">Email me</a>
            </div>
        </div>

    </header>
    
</template>
