<template name="App_body">
  {{> Template.dynamic template=main}}

  <header id="top">
        <a href = "#" class = "email-button"> Login </a>
        <a href = "#" class = "email-button"> Subscribe </a>
        <div class="ryan">
           <!--  <img class="avatar" src="img/avatar.jpg" alt="Maura" /> -->
            <h2>Maura Rigney<span>Graphic Design | Advertising</span></h2>
            <div class="social">
                <a class="linkedin" href="http://linkedin.com/in/maura-rigney" data-username="10998304">LinkedIn</a>
                <a class="github" href="http://github.com/maurarigney">Github</a>
                <a class="email" href="maura.rigney@colorado.edu">Email me</a>
            </div>
        </div>

    </header>

    <div style='color:white'>
  
   <div class="container-fluid"> 
    <div class ="row">
        <div class = 'col-sm-4' style="background-color: lavender;">.col-sm-4
        </div>
        <div class = "col-sm-4" style="background-color: lavenderblush;">.col-sm-4
        </div>
        <div class = "col-sm-4" style="background-color: lavender;">.col-sm-4
        </div>
    </div>
    </div>
    </div>

</template>
