<template name="App_body">
  {{> Template.dynamic template=main}}

  <header id="top">
        <a href = "#" class = "email-button"> Login </a>
        <a href = "#" class = "email-button"> Subscribe </a>
        <div class="ryan">
            <img class="avatar" src="img/avatar.jpg" alt="Maura" />
            <h2>Maura Rigney<span>Graphic Design, Marketing, Advertising</span></h2>
            <div class="social">
                <a class="linkedin" href="http://linkedin.com/in/maurarigney" data-username="10998304">LinkedIn</a>
                <a class="github" href="http://github.com/nickmflorin">Github</a>
                <a class="email" href="mailto:test.com">Email me</a>
            </div>
        </div>

    </header>

    <div style='color:white'>
    <h3> Hey Maura, This is how you use bootstrap grids. </h3>

    This is the first row, you can make it by using a div and giving it the class name 'row' 
    <div class = 'row'>
        <div class = 'col-md-3' style='border:solid 1px black;'>
            <h4> This is a column, it is sized at 3, there is a total of 12 spans in a single row. </h4>
        </div>
        <div class = 'col-md-2' style='border:solid 1px black;'>
            <h4> This is the second column, it is sized at 2, we only have 7 left (12-3-2 = 7) </h4>
        </div>
        <div class = 'col-md-2' style='border:solid 1px black;'>
        <h4> This is the third column</h4>
        </div>
        <div class = 'col-md-5' style='border:solid 1px black;'>
        <h4> This is the third column</h4>
        </div>
    </div>
    </div>
    
</template>
