<template name="grid">
  <div class = 'base-container'>
    <div class = 'base-content'>

        <div class = 'grid-content'>

            <!-- Top Row  -->
            <div class ="row grid-row">
                <div class = 'col-md-4 grid-cell' style="background-color: var(--color1);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color2);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color3);">

                </div>

            </div>

            <!-- Second Row  -->
            <div class ="row grid-row">

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color4);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color5);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color1);">

                </div>


            </div>

            <!-- Third Row  -->
            <div class ="row grid-row">

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color2);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color3);">

                </div>

                <div class = 'col-md-4 grid-cell' style="background-color: var(--color4);">

                </div>



            </div>

        </div>

    </div>
</div>
</template>
